---
---

@import "{{ site.theme }}";

.inner {
  max-width: 200%;
}

.page {
  .page__inner-wrap {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 150%;
    clear: both;

    .page__content,
    .page__meta,
    .page__share {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 150%;
      clear: both;
    }
  }
}
